<!DOCTYPE html>
<html lang="en" xmlns:http="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My book shelf</title>
    <style>
        #root_container{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #books{
            width: 50%;
            border-collapse: collapse;
            margin: 25px;
        }

        #files{
            width: 20%;
            border-collapse: collapse;
            margin: 25px;
            position: absolute;
            top: 5px;
            right: 5px;
        }

        th{
            text-align: left;
        }

        th, td{
            border-bottom: 1px solid #ddd;
        }

        #container{
            display: flex;
            flex-direction: row;
            justify-content: center;

        }
        #containerChild{
            margin: 0 10px;
        }
        #users_get{
            position: absolute;
            left: 5%;
            top: 5%;
        }
    </style>
</head>
<body>

<form id = "users_get" method="get" th:action="@{/users}">
    <input type="submit" value="users">
</form>

    <div id="root_container">
        add book
        <form method="post" th:action="@{/books/save}" th:object="${book}">
            <table>
                <tr>
                    <td>
                        <input type="text" placeholder="author" th:field="*{author}">
                        <p th:if="${#fields.hasErrors('author')}">author must be not empty</p>
                    </td>
                    <td>
                        <input type="text" placeholder="book_title" th:field="*{title}">
                        <p th:if="${#fields.hasErrors('title')}">title must be not empty</p>
                    </td>
                    <td>
                        <input type="text" placeholder="size (pages)" th:field="*{size}">
                        <p th:if="${#fields.hasErrors('size')}">field value must be digit and less than 4 signs</p>
                    </td>
                    <td>
                        <input type="submit" placeholder="save" value="save">
                    </td>
                </tr>
            </table>
        </form>

        <form method="post" th:action="@{/books/uploadFile}" enctype="multipart/form-data">
            <table>
                <tr>
                    <td>
                        <input type="file" name="file"/>
                    </td>
                    <td>
                        <input type="submit" value="upload">
                    </td>
                    <td>
                        <p th:text="${errorMessageUploadFile}"></p>
                    </td>
                </tr>
            </table>
        </form>


        <div id="container">
        <div id="containerChild">
        remove book
        <form method="post" th:action="@{/books/remove/id}" th:object="${bookIdToRemove}">
            <table>
                <tr>
                    <td>
                        <input type="text" placeholder="id number" th:field="*{id}">
                    </td>
                    <td>
                        <input type="submit" value="remove">
                    </td>
                    <td th:if="${#fields.hasErrors()}">
                        <p>empty field!</p>
                    </td>
                    <td>
                        <p th:text="${errorMessageRemoveBookById}"></p>
                    </td>
                </tr>
            </table>
        </form>
        <form method="post" th:action="@{/books/remove/author}" th:object="${bookAuthorToRemove}">
            <table>
                <tr>
                    <td>
                        <input type="text" placeholder="author" th:field="*{author}">
                    </td>
                    <td>
                        <input type="submit" value="remove">
                    </td>
                    <td th:if="${#fields.hasErrors()}">
                        <p>empty field!</p>
                    </td>
                    <td>
                        <p th:text="${errorMessageRemoveBookByAuthor}"></p>
                    </td>
                </tr>
            </table>
        </form>
        <form method="post" th:action="@{/books/remove/title}" th:object="${bookTitleToRemove}">
            <table>
                <tr>
                    <td>
                        <input type="text" placeholder="title" th:field="*{title}">
                    </td>
                    <td>
                        <input type="submit" value="remove">
                    </td>
                    <td th:if="${#fields.hasErrors()}">
                        <p>empty field!</p>
                    </td>
                    <td>
                        <p th:text="${errorMessageRemoveBookByTitle}"></p>
                    </td>
                </tr>
            </table>
        </form>
        <form method="post" th:action="@{/books/remove/size}" th:object="${bookSizeToRemove}">
            <table>
                <tr>
                    <td>
                        <input type="text" placeholder="size" th:field="*{size}">
                    </td>
                    <td>
                        <input type="submit" value="remove">
                    </td>
                    <td th:if="${#fields.hasErrors()}">
                        <p>empty field!</p>
                    </td>
                    <td>
                        <p th:text="${errorMessageRemoveBookBySize}"></p>
                    </td>
                </tr>
            </table>
        </form>
        </div>
        <div id="containerChild">
            filter book
        <form method="post" th:action="@{/books/filter/author}" th:object="${bookAuthorToFilter}">
            <table>
                <tr>
                    <td>
                        <input type="text" placeholder="author" th:field="*{author}">
                    </td>
                    <td>
                        <input type="submit" value="filter">
                    </td>
                    <td th:if="${#fields.hasErrors()}">
                        <p>empty field!</p>
                    </td>
                    <td>
                        <p th:text="${errorMessageFilterBookByAuthor}"></p>
                    </td>
                </tr>
            </table>
        </form>
        <form method="post" th:action="@{/books/filter/title}" th:object="${bookTitleToFilter}">
            <table>
                <tr>
                    <td>
                        <input type="text" placeholder="title" th:field="*{title}">
                    </td>
                    <td>
                        <input type="submit" value="filter">
                    </td>
                    <td th:if="${#fields.hasErrors()}">
                        <p>empty field!</p>
                    </td>
                    <td>
                        <p th:text="${errorMessageFilterBookByTitle}"></p>
                    </td>
                </tr>
            </table>
        </form>
        <form method="post" th:action="@{/books/filter/size}"  th:object="${bookSizeToFilter}">
            <table>
                <tr>
                    <td>
                        <input type="text" placeholder="size" th:field="*{size}">
                    </td>
                    <td>
                        <input type="submit" value="filter">
                    </td>
                    <td th:if="${#fields.hasErrors()}">
                        <p>empty field!</p>
                    </td>
                    <td>
                        <p th:text="${errorMessageFilterBookBySize}"></p>
                    </td>
                </tr>
            </table>
        </form>
        <form method="post" th:action="@{/books/filter/disable}">
            <input type="submit" value="disable filters">
        </form>
        </div>
        </div>

        <table id="books">
            <tr>
                <th>id</th>
                <th>author</th>
                <th>title</th>
                <th>size</th>
            </tr>
            <tr th:each="book : ${bookList}">
                <td th:text="${book.id}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.size}"></td>
            </tr>
        </table>
        </div>

<table id="files">
    <tr>
        <th>name</th>
        <th>download</th>

    </tr>
    <tr th:each="file : ${fileList}">
        <form method="post" th:action="@{/books/downloadFile}">
            <td th:text="${file}"></td>
            <td>
                <input type="hidden" name="fileName" th:value="${file}">
                <input type="submit" value="download">

            </td>
        </form>
    </tr>
</table>
</body>
</html>