<http:html lang="en" xmlns:http="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>book shelf login</title>
        <meta charset="UTF-8">
        <style>
            #user_container{
                position: absolute;
                left: 5%;
            }

            #users{
                width: 50%;
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>
    <div id="user_container">
        add user
        <br>
        <form method="post" th:action="@{/users/addUser}" th:object="${loginForm}">
            <table>
                <tr>
                    <td>
                        <input type="text" placeholder="username" th:field="*{username}">
                        <p th:if="${#fields.hasErrors('username')}">username must have more than 3 characters</p>
                    </td>
                    <td>
                        <input type="password" placeholder="password" th:field="*{password}">
                        <p th:if="${#fields.hasErrors('password')}">password must have more than 5 characters</p>
                    </td>
                    <td>
                        <input type="text" placeholder="role" th:field="*{role}">
                        <p th:if="${#fields.hasErrors('role')}">role must have more than 3 characters</p>
                    </td>
                    <td>
                    <input type="submit" value="add User">
                    </td>
                </tr>
            </table>
        </form>

        remove user
        <br>
        <form method="post" th:action="@{/users/removeUser}" th:object="${usernameToRemove}">
            <input type="text" placeholder="username" th:field="*{username}">
            <p th:if="${#fields.hasErrors()}">empty field!</p>
            <input type="submit" value="remove User">
        </form>
        user list
        <table id="users">
            <tr>
                <th>username</th>
                <th>password</th>
                <th>role</th>
            </tr>
            <tr th:each="user : ${userList}">
                <td th:text="${user.username}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.role}"></td>
            </tr>
        </table>
    </div>
    </body>
</http:html>
